attrs==19.3.0
audio-metadata==0.11.1
bidict==0.21.2
bitstruct==8.11.1
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
more-itertools==8.6.0
musicbrainzngs==0.7.1
packaging==20.7
pendulum==2.1.2
pprintpp==0.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytzdata==2020.1
six==1.15.0
tbm-utils==2.6.0
wrapt==1.12.1
